.Countries-block{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 300px;
    height: 560px;
    overflow: auto;
}

.flex {
    display: flex;
    flex-direction: row;
}

.Country-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.Info-title {
    margin: 0 0 0 20px;
}

.Info-subtitle {
    margin: 20px 0 0 20px;
    font-weight: bold;
}

.Country-flag {
    margin-right: 30px;
}